# 4.6 Combining data - task

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Defininf path 
path = r'C:\Users\ale_o\OneDrive\Escritorio\Data Analytics\5. Python\Instacart Basket Analysis 01 - 2023 final'

In [8]:
# Importing 'orders_products_combined.pkl'

df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_ords_prods_comb

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,2977660,206209,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,2977660,206209,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,2977660,206209,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,272231,206209,14,6,14,30.0,NaN,NaN,NaN,left_only

In [6]:
df_ords_prods_comb.shape

(32640698, 10)

In [10]:
# Importing 'products_cleaned.csv'
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [16]:
df_prods_cleaned = df_prods_cleaned.drop(columns='Unnamed: 0')

In [17]:
df_prods_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [21]:
df_prods_cleaned.shape

(49672, 5)

In [18]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [22]:
df_ords_prods_comb.shape

(32640698, 9)

In [23]:
# Merge
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods_cleaned, on = 'product_id', indicator = True)

In [24]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [25]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
df_ords_prods_merged.shape

(32404859, 14)

In [27]:
# Importing 
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))